/* RE-USED COMPONENTS */
/* creates sections that each expand width of the window */
.section{
    width:100%;
}

/* div used for any section that has a purple box w/ a white border as the background */
.purple-box {
    margin:10px;
    background-color: #EAECF9;
    height: auto;
}

h1 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 10;
    font-size: 3.5vw;
}

h2 {
    font-family: 'Nunito';
    font-style: light;
    font-weight: 10;
    font-size: 3.5vw;
}

h3 {
    font-family: 'Nunito';
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.leftButton {
    margin-left: 10%;
    height: 4vw;
    width: 15vw;
    float:left;
}

/* styling to align text boxes */
.leftIndentedH1 {
    padding-left:10px;
    margin-left:10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.rightSecondColumn {
    /* position:absolute; */
    margin-right:10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

/* styling for any black buttons with an offset rectangle border */
.blackButton{
    position:absolute;
    background: black;
    color: white;
    border: none;
    font-size: 1.2vw;
    height:inherit;
    width:inherit;

}

.buttonOutlineSVG  {
    height:inherit;
    width:inherit;
    margin-left: 2%;
    margin-top: 2%;

}

.buttonOutlineRect{
    position:absolute;
    height: inherit;
    width: inherit;
    stroke: black;
    stroke-width: 3px;
    fill:none;
}

.column{
    float:left;
    margin-left: 2vw;
    width:auto;
    max-height:4vw;
    
}


/* Landing Page first section */
#intro {
    margin-left:10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#pfpContainer{
    margin-right:30%;
    margin-top:10%;
    margin-bottom:10%;
    margin-left:10%;
    max-height: 70%;
    width:auto;
    position:relative;
}

#pfp {
    height:100%;
    width:auto;
}

.imageOutlineSVG  {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    margin-left: 2%;
    margin-top: 2%;

}

.imageOutlineRect{
    position:absolute;
    height: inherit;
    width: inherit;
    stroke: black;
    stroke-width: 3px;
    fill:none;
}

/* nav bar styling */
.navBar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px;
    font-family:'Nunito';
    color:black;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.navBar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar li {
    list-style: none;
}

.navBar-links li a {
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
    font-weight: bold;
}

.navBar-links a:hover {
    transition: 0.3s ease;
    color: blue;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-bottom:50px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 8px;
}


@media (max-width: 850px) {
    .toggle-button {
        display: flex;
    }

    .navBar-links {
       display: none;
       width: 100%;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navBar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navBar-links li {
        text-align: center;
    }

    .navBar-links li a {
        padding: .5rem 1rem;
        color: #0E192D;
    }

    .navBar-links.active { 
        display: flex;
    }

    /* BRADS CODE */
    .navBar {
        position: relative;
    }

    .navBar-links.active {
        position: absolute;
        top: 110%;
        width: 100vw;
        margin-left: -20px;
        background-color:green;
    }

    /* .navBar-links li {
        border-bottom: 1px solid #F4F6F9;
    }
    .navBar-links li:first-child {
        border-top: 1px solid #F4F6F9;
    } */

    .profilePicture img {
        width: 401px;
        height: 435px;
    }

}